/* Nywaa style pallete
    background-color: #48474e;
    color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
*/

body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #48474e;
}